<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>피카통 호프 관리</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <!-- /admin.ejs -->
    <h1>피카통 여름호프 관리</h1>
    <div class="admin-nav">
      <a href="/admin/menu" class="admin-btn">메뉴 관리</a>
      <div class="admin-sub-nav">
        <a href="/admin/kitchen" class="admin-btn">주방</a>
        <a href="/admin/server" class="admin-btn">서버</a>
      </div>
      <a href="/admin/orders" class="admin-btn">주문 내역</a>
    </div>
  </body>
</html>
