<!-- views/confirm-cancel.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>결제확인</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include("nav.ejs") %>
    <div class="confirm-cancel-container">
      <div class="inline-action">
        <p class="cart-notice">주문이 취소되었습니다</p>
        <a href="/menu" id="menu-btn" class="outline-button inline-button">메뉴 보기</a>
      </div>
    </div>
  </body>
</html>
