<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://kit.fontawesome.com/a3ff865f92.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("nav.ejs") %>
    <div class="confirm-container">
      <i class="fas fa-spinner fa-spin" style="font-size: 24px; color: #ff8c00"></i>
      <h3>운영진이 송금 내역을 확인하러 오는 중이니<br />잠시만 기다려주세요!</h3>
      <span class="confirm-subtext"> 운영진이 도착하지 않으면 직접 말씀해주세요 </span>
      <div class="inline-action" style="display: none">
        <button type="submit" class="outline-button inline-button">추가 주문하기</button>
      </div>
    </div>
    <div id="toast" class="toast-msg"></div>
    <script src="/toast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      // 결제 확정 실시간 처리
      const socket = io();
      const params = new URLSearchParams(window.location.search);
      const orderId = params.get("orderId");

      if (orderId) {
        socket.emit("joinOrderRoom", orderId);
        socket.on("orderConfirmed", () => {
          window.location.href = `/payment/confirm-success?orderId=${orderId}`;
        });
        socket.on("orderCancelled", () => {
          window.location.href = `/payment/confirm-cancel`;
        });
      }
    </script>
  </body>
</html>
